# Cleaning up of datasets for analysis

In [1]:
save_files = True

if save_files:
    import os
    if (os.path.exists("./data/") is False):
        os.makedirs("./data/")
        
    assert(os.path.exists("./data/"))

## 1. Solar Flare: N = 1389, L = 3, d = 10

In [2]:
!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.11/site-packages (0.0.3)

In [3]:
from ucimlrepo import fetch_ucirepo, list_available_datasets

# fetch dataset 
solar_flare = fetch_ucirepo(name="Solar Flare") 

print(solar_flare.data.version2)
  
# data (as pandas dataframes)
X = solar_flare.data.features 
y = solar_flare.data.targets 
  
# metadata 
print(solar_flare.metadata) 
  
# variable information 
print(solar_flare.variables)

None
{'uci_id': 89, 'name': 'Solar Flare', 'repository_url': 'https://archive.ics.uci.edu/dataset/89/solar+flare', 'data_url': 'https://archive.ics.uci.edu/static/public/89/data.csv', 'abstract': 'Each class attribute counts the number of solar flares of a certain class that occur in a 24 hour period', 'area': 'Physics and Chemistry', 'tasks': ['Regression'], 'characteristics': ['Multivariate'], 'num_instances': 1389, 'num_features': 10, 'feature_types': ['Categorical'], 'demographics': [], 'target_col': ['common flares', 'moderate flares', 'severe flares'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1989, 'last_updated': 'Wed Feb 14 2024', 'dataset_doi': '10.24432/C5530G', 'creators': [], 'intro_paper': None, 'additional_info': {'summary': 'Notes:\r\n\r\n   -- The database contains 3 potential classes, one for the number of times a certain type of solar flare occured in a 24 hour period.\r\n   -- Each instance represents captured features for 1 active region on the sun.\r\n   -- The data are divided into two sections. The second section (flare.data2) has had much more error correction applied to the it, and has consequently been treated as more reliable.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': "   1. Code for class (modified Zurich class)  (A,B,C,D,E,F,H)\r\n   2. Code for largest spot size              (X,R,S,A,H,K)\r\n   3. Code for spot distribution              (X,O,I,C)\r\n   4. Activity                                (1 = reduced, 2 = unchanged)\r\n   5. Evolution                               (1 = decay, 2 = no growth, 3 = growth)\r\n   6. Previous 24 hour flare activity code    (1 = nothing as big as an M1, 2 = one M1, 3 = more activity than one M1)\r\n   7. Historically-complex                    (1 = Yes, 2 = No)\r\n   8. Did region become historically complex  on this pass across the sun's disk (1 = yes, 2 = no) \r\n   9. Area                                    (1 = small, 2 = large)\r\n  10. Area of the largest spot                (1 = <=5, 2 = >5)\r\n\r\n From all these predictors three classes of flares are predicted, which are represented in the last three columns.\r\n\r\n  11. C-class flares production by this region in the following 24 hours (common flares); Number\r\n  12. M-class flares production by this region in the following 24 hours (moderate flares);   Number\r\n  13. X-class flares production by this region in the following 24 hours (severe flares); Number\r\n     ", 'citation': None}}
                               name     role         type demographic  \
0             modified Zurich class  Feature  Categorical        None
1                 largest spot size  Feature  Categorical        None
2                 spot distribution  Feature  Categorical        None
3                          activity  Feature      Integer        None
4                         evolution  Feature      Integer        None
5   previous 24 hour flare activity  Feature      Integer        None
6              historically-complex  Feature      Integer        None
7       became complex on this pass  Feature      Integer        None
8                              area  Feature      Integer        None
9              area of largest spot  Feature      Integer        None
10                    common flares   Target      Integer        None
11                  moderate flares   Target      Integer        None
12                    severe flares   Target      Integer        None

                                          description units missing_values
0                                       A,B,C,D,E,F,H  None             no
1                                         X,R,S,A,H,K  None             no
2                                             X,O,I,C  None             no
3                          1 = reduced, 2 = unchanged  None             no
4                1 = decay, 2 = no growth, 3 = growth  None             no
5   1 = nothing as big as an M1, 2 = one M1, 3 = m...  None             no
6                                     1 = Yes, 2 = No  None             no
7   . Did region become historically complex  on t...  None             no
8                                1 = small, 2 = large  None             no
9                                     1 = <=5, 2 = >5  None             no
10  C-class flares production by this region in th...  None             no
11  M-class flares production by this region in th...  None             no
12  X-class flares production by this region in th...  None             no

In [4]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

clean_X = X.copy()
for x in X.columns:
    if X[x].dtype == 'object':
        clean_X[x] = label_encoder.fit_transform(X[x])      

X = clean_X.copy()
del clean_X

X, y

(      modified Zurich class  largest spot size  spot distribution  activity  \
 0                         1                  4                  2         1
 1                         2                  4                  2         1
 2                         1                  4                  2         1
 3                         2                  4                  2         1
 4                         2                  0                  2         1
 ...                     ...                ...                ...       ...
 1384                      5                  4                  3         1
 1385                      5                  4                  3         2
 1386                      1                  4                  2         1
 1387                      5                  3                  3         1
 1388                      0                  5                  2         1

       evolution  previous 24 hour flare activity  historically-complex  \
 0             2                                1                     1
 1             3                                1                     1
 2             3                                1                     1
 3             3                                1                     1
 4             3                                1                     1
 ...         ...                              ...                   ...
 1384          2                                1                     1
 1385          2                                1                     1
 1386          2                                1                     2
 1387          2                                1                     1
 1388          1                                1                     1

       became complex on this pass  area  area of largest spot
 0                               2     1                     2
 1                               2     1                     2
 2                               2     1                     1
 3                               2     1                     2
 4                               2     1                     2
 ...                           ...   ...                   ...
 1384                            1     1                     1
 1385                            2     1                     1
 1386                            2     1                     1
 1387                            2     1                     1
 1388                            2     1                     1

 [1389 rows x 10 columns],
       common flares  moderate flares  severe flares
 0                 0                0              0
 1                 0                0              0
 2                 0                0              0
 3                 0                0              0
 4                 0                0              0
 ...             ...              ...            ...
 1384              0                0              0
 1385              0                0              0
 1386              0                0              0
 1387              0                0              0
 1388              0                0              0

 [1389 rows x 3 columns])

In [5]:
if save_files:
    X.to_csv('./data/1-FLARE_X.csv')
    y.to_csv('./data/1-FLARE_y.csv')

## 0.2. Bridges, N = 105, L = 6 , d = 7, not used

In [6]:
from scipy.io import arff
import pandas as pd
import os

bridges_raw_file_name = './bridges/bridges.arff'
assert(os.path.isfile(bridges_raw_file_name))

# Load ARFF file
data, meta = arff.loadarff(bridges_raw_file_name,)

In [7]:
df = pd.DataFrame(data)

# Optionally, decode byte strings to regular strings if necessary
df = df.applymap(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)

df.head(), df.columns

(  IDENTIF RIVER LOCATION ERECTED   PURPOSE  LENGTH LANES CLEAR-G   T-OR-D  \
 0      E1     M        3  CRAFTS   HIGHWAY       ?     2       N  THROUGH
 1      E2     A       25  CRAFTS   HIGHWAY  MEDIUM     2       N  THROUGH
 2      E3     A       39  CRAFTS  AQUEDUCT       ?     1       N  THROUGH
 3      E5     A       29  CRAFTS   HIGHWAY  MEDIUM     2       N  THROUGH
 4      E6     M       23  CRAFTS   HIGHWAY       ?     2       N  THROUGH

   MATERIAL   SPAN REL-L  TYPE
 0     WOOD  SHORT     S  WOOD
 1     WOOD  SHORT     S  WOOD
 2     WOOD      ?     S  WOOD
 3     WOOD  SHORT     S  WOOD
 4     WOOD      ?     S  WOOD  ,
 Index(['IDENTIF', 'RIVER', 'LOCATION', 'ERECTED', 'PURPOSE', 'LENGTH', 'LANES',
        'CLEAR-G', 'T-OR-D', 'MATERIAL', 'SPAN', 'REL-L', 'TYPE'],
       dtype='object'))

In [8]:
X = df.drop(columns=["TYPE"])
y = pd.DataFrame(df["TYPE"])

from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for x in X.columns:
    if X[x].dtype == 'object':
        X[x] = label_encoder.fit_transform(X[x])

y = pd.DataFrame(df["TYPE"])
y = pd.get_dummies(y["TYPE"], prefix="TYPE")

X, y

(     IDENTIF  RIVER  LOCATION  ERECTED  PURPOSE  LENGTH  LANES  CLEAR-G  \
 0          0      1        22        0        1       0      1        2
 1         17      0        17        0        1       2      1        2
 2         28      0        33        0        0       0      0        2
 3         50      0        21        0        1       2      1        2
 4         61      1        15        0        1       0      1        2
 ..       ...    ...       ...      ...      ...     ...    ...      ...
 100       90      0        26        3        1       3      2        1
 101       89      1        53        3        1       1      2        1
 102       88      0        16        3        1       3      3        1
 103       96      2        41        3        1       1      3        1
 104       95      1        51        3        1       3      3        1

      T-OR-D  MATERIAL  SPAN  REL-L
 0         2         2     3      2
 1         2         2     3      2
 2         2         2     0      2
 3         2         2     3      2
 4         2         2     0      2
 ..      ...       ...   ...    ...
 100       1         1     2      3
 101       1         1     1      1
 102       2         1     2      1
 103       2         1     1      1
 104       2         1     1      1

 [105 rows x 12 columns],
      TYPE_ARCH  TYPE_CANTILEV  TYPE_CONT-T  TYPE_SIMPLE-T  TYPE_SUSPEN  \
 0            0              0            0              0            0
 1            0              0            0              0            0
 2            0              0            0              0            0
 3            0              0            0              0            0
 4            0              0            0              0            0
 ..         ...            ...          ...            ...          ...
 100          0              0            1              0            0
 101          0              0            1              0            0
 102          1              0            0              0            0
 103          1              0            0              0            0
 104          1              0            0              0            0

      TYPE_WOOD
 0            1
 1            1
 2            1
 3            1
 4            1
 ..         ...
 100          0
 101          0
 102          0
 103          0
 104          0

 [105 rows x 6 columns])

In [9]:
if save_files and False:  # and False since we are not using bridges
    X.to_csv("./data/2-BRIDGES_X.csv")
    y.to_csv("./data/2-BRIDGES_y.csv")

## 0.3. Parkinson's: L = 1, Not usable

In [10]:
!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.11/site-packages (0.0.3)

In [11]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
parkinsons = fetch_ucirepo(id=174) 
  
# data (as pandas dataframes) 
X = parkinsons.data.features 
y = parkinsons.data.targets 
  
# metadata 
print(parkinsons.metadata) 
  
# variable information 
print(parkinsons.variables)

{'uci_id': 174, 'name': 'Parkinsons', 'repository_url': 'https://archive.ics.uci.edu/dataset/174/parkinsons', 'data_url': 'https://archive.ics.uci.edu/static/public/174/data.csv', 'abstract': "Oxford Parkinson's Disease Detection Dataset", 'area': 'Health and Medicine', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 197, 'num_features': 22, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['status'], 'index_col': ['name'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2007, 'last_updated': 'Wed Feb 14 2024', 'dataset_doi': '10.24432/C59C74', 'creators': ['Max Little'], 'intro_paper': {'title': 'Exploiting Nonlinear Recurrence and Fractal Scaling Properties for Voice Disorder Detection', 'authors': 'Max A. Little, P. McSharry, S. Roberts, D. Costello, I. Moroz', 'published_in': 'BioMedical Engineering OnLine', 'year': 2007, 'url': 'https://www.semanticscholar.org/paper/27e1dcd0d64bfc9d936e597d4f29b80c21571936', 'doi': '10.1186/1475-925X-6-23'}, 'additional_info': {'summary': 'This dataset is composed of a range of biomedical voice measurements from 31 people, 23 with Parkinson\'s disease (PD). Each column in the table is a particular voice measure, and each row corresponds one of 195 voice recording from these individuals ("name" column). The main aim of the data is to discriminate healthy people from those with PD, according to "status" column which is set to 0 for healthy and 1 for PD. \r\n\r\nThe data is in ASCII CSV format. The rows of the CSV file contain an instance corresponding to one voice recording. There are around six recordings per patient, the name of the patient is identified in the first column.For further information or to pass on comments, please contact Max Little (littlem \'@\' robots.ox.ac.uk).\r\n\r\nFurther details are contained in the following reference -- if you use this dataset, please cite:\r\nMax A. Little, Patrick E. McSharry, Eric J. Hunter, Lorraine O. Ramig (2008), \'Suitability of dysphonia measurements for telemonitoring of Parkinson\'s disease\', IEEE Transactions on Biomedical Engineering (to appear).', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': "Matrix column entries (attributes):\r\nname - ASCII subject name and recording number\r\nMDVP:Fo(Hz) - Average vocal fundamental frequency\r\nMDVP:Fhi(Hz) - Maximum vocal fundamental frequency\r\nMDVP:Flo(Hz) - Minimum vocal fundamental frequency\r\nMDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP - Several measures of variation in fundamental frequency\r\nMDVP:Shimmer,MDVP:Shimmer(dB),Shimmer:APQ3,Shimmer:APQ5,MDVP:APQ,Shimmer:DDA - Several measures of variation in amplitude\r\nNHR,HNR - Two measures of ratio of noise to tonal components in the voice\r\nstatus - Health status of the subject (one) - Parkinson's, (zero) - healthy\r\nRPDE,D2 - Two nonlinear dynamical complexity measures\r\nDFA - Signal fractal scaling exponent\r\nspread1,spread2,PPE - Three nonlinear measures of fundamental frequency variation\r\n", 'citation': None}}
            name     role         type demographic description units  \
0           name       ID  Categorical        None        None  None
1        MDVP:Fo  Feature   Continuous        None        None    Hz
2       MDVP:Fhi  Feature   Continuous        None        None    Hz
3       MDVP:Flo  Feature   Continuous        None        None    Hz
4    MDVP:Jitter  Feature   Continuous        None        None     %
5    MDVP:Jitter  Feature   Continuous        None        None   Abs
6       MDVP:RAP  Feature   Continuous        None        None  None
7       MDVP:PPQ  Feature   Continuous        None        None  None
8     Jitter:DDP  Feature   Continuous        None        None  None
9   MDVP:Shimmer  Feature   Continuous        None        None  None
10  MDVP:Shimmer  Feature   Continuous        None        None    dB
11  Shimmer:APQ3  Feature   Continuous        None        None  None
12  Shimmer:APQ5  Feature   Continuous        None        None  None
13      MDVP:APQ  Feature   Continuous        None        None  None
14   Shimmer:DDA  Feature   Continuous        None        None  None
15           NHR  Feature   Continuous        None        None  None
16           HNR  Feature   Continuous        None        None  None
17        status   Target      Integer        None        None  None
18          RPDE  Feature   Continuous        None        None  None
19           DFA  Feature   Continuous        None        None  None
20       spread1  Feature   Continuous        None        None  None
21       spread2  Feature   Continuous        None        None  None
22            D2  Feature   Continuous        None        None  None
23           PPE  Feature   Continuous        None        None  None

   missing_values
0              no
1              no
2              no
3              no
4              no
5              no
6              no
7              no
8              no
9              no
10             no
11             no
12             no
13             no
14             no
15             no
16             no
17             no
18             no
19             no
20             no
21             no
22             no
23             no

In [12]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

clean_X = X.drop(columns=["MDVP:Jitter", "MDVP:Shimmer"]).copy()
clean_X["MDVP:Jitter"] = X["MDVP:Jitter"].values.T[0]
clean_X["MDVP:Shimmer"] = X["MDVP:Shimmer"].values.T[0]


for x in clean_X.columns:
    if clean_X[x].dtype == 'object':
        clean_X[x] = label_encoder.fit_transform(clean_X[x])

clean_y = y.copy()
for yc in clean_y.columns:
    if clean_y[yc].dtype == 'object':
        clean_y[yc] = label_encoder.fit_transform(clean_y[yc])
        
clean_X, clean_y

(     MDVP:Fo  MDVP:Fhi  MDVP:Flo  MDVP:RAP  MDVP:PPQ  Jitter:DDP  \
 0    119.992   157.302    74.997   0.00370   0.00554     0.01109
 1    122.400   148.650   113.819   0.00465   0.00696     0.01394
 2    116.682   131.111   111.555   0.00544   0.00781     0.01633
 3    116.676   137.871   111.366   0.00502   0.00698     0.01505
 4    116.014   141.781   110.655   0.00655   0.00908     0.01966
 ..       ...       ...       ...       ...       ...         ...
 190  174.188   230.978    94.261   0.00263   0.00259     0.00790
 191  209.516   253.017    89.488   0.00331   0.00292     0.00994
 192  174.688   240.005    74.287   0.00624   0.00564     0.01873
 193  198.764   396.961    74.904   0.00370   0.00390     0.01109
 194  214.289   260.277    77.973   0.00295   0.00317     0.00885

      Shimmer:APQ3  Shimmer:APQ5  MDVP:APQ  Shimmer:DDA      NHR     HNR  \
 0         0.02182       0.03130   0.02971      0.06545  0.02211  21.033
 1         0.03134       0.04518   0.04368      0.09403  0.01929  19.085
 2         0.02757       0.03858   0.03590      0.08270  0.01309  20.651
 3         0.02924       0.04005   0.03772      0.08771  0.01353  20.644
 4         0.03490       0.04825   0.04465      0.10470  0.01767  19.649
 ..            ...           ...       ...          ...      ...     ...
 190       0.02336       0.02498   0.02745      0.07008  0.02764  19.517
 191       0.01604       0.01657   0.01879      0.04812  0.01810  19.147
 192       0.01268       0.01365   0.01667      0.03804  0.10715  17.883
 193       0.01265       0.01321   0.01588      0.03794  0.07223  19.020
 194       0.01026       0.01161   0.01373      0.03078  0.04398  21.209

          RPDE       DFA   spread1   spread2        D2       PPE  MDVP:Jitter  \
 0    0.414783  0.815285 -4.813031  0.266482  2.301442  0.284654      0.00784
 1    0.458359  0.819521 -4.075192  0.335590  2.486855  0.368674      0.00968
 2    0.429895  0.825288 -4.443179  0.311173  2.342259  0.332634      0.01050
 3    0.434969  0.819235 -4.117501  0.334147  2.405554  0.368975      0.00997
 4    0.417356  0.823484 -3.747787  0.234513  2.332180  0.410335      0.01284
 ..        ...       ...       ...       ...       ...       ...          ...
 190  0.448439  0.657899 -6.538586  0.121952  2.657476  0.133050      0.00459
 191  0.431674  0.683244 -6.195325  0.129303  2.784312  0.168895      0.00564
 192  0.407567  0.655683 -6.787197  0.158453  2.679772  0.131728      0.01360
 193  0.451221  0.643956 -6.744577  0.207454  2.138608  0.123306      0.00740
 194  0.462803  0.664357 -5.724056  0.190667  2.555477  0.148569      0.00567

      MDVP:Shimmer
 0         0.04374
 1         0.06134
 2         0.05233
 3         0.05492
 4         0.06425
 ..            ...
 190       0.04087
 191       0.02751
 192       0.02308
 193       0.02296
 194       0.01884

 [195 rows x 20 columns],
      status
 0         1
 1         1
 2         1
 3         1
 4         1
 ..      ...
 190       0
 191       0
 192       0
 193       0
 194       0

 [195 rows x 1 columns])

In [13]:
if save_files:
    clean_X.to_csv("3-PARKINS_X.csv")
    clean_y.to_csv("3-PARKINS_y.csv")

## 0.4. Thyroid: Missing labels

In [14]:
import pandas as pd

thyroid_csv_file = "./thyroid/hypothyroid.csv"
df = pd.read_csv(thyroid_csv_file)

df.head(), df.columns

(  age sex on thyroxine query on thyroxine on antithyroid medication sick  \
 0  41   F            f                  f                         f    f
 1  23   F            f                  f                         f    f
 2  46   M            f                  f                         f    f
 3  70   F            t                  f                         f    f
 4  70   F            f                  f                         f    f

   pregnant thyroid surgery I131 treatment query hypothyroid  ... TT4 measured  \
 0        f               f              f                 f  ...            t
 1        f               f              f                 f  ...            t
 2        f               f              f                 f  ...            t
 3        f               f              f                 f  ...            t
 4        f               f              f                 f  ...            t

    TT4 T4U measured   T4U FTI measured  FTI TBG measured TBG referral source  \
 0  125            t  1.14            t  109            f   ?            SVHC
 1  102            f     ?            f    ?            f   ?           other
 2  109            t  0.91            t  120            f   ?           other
 3  175            f     ?            f    ?            f   ?           other
 4   61            t  0.87            t   70            f   ?             SVI

   binaryClass
 0           P
 1           P
 2           P
 3           P
 4           P

 [5 rows x 30 columns],
 Index(['age', 'sex', 'on thyroxine', 'query on thyroxine',
        'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
        'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
        'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
        'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
        'FTI measured', 'FTI', 'TBG measured', 'TBG', 'referral source',
        'binaryClass'],
       dtype='object'))

In [15]:
X = df.drop(columns=["binaryClass"])
y = df["binaryClass"]

In [16]:
set(X["TBG measured"]), set(X["TBG"])  # Can drop

({'f'}, {'?'})

In [17]:
clean_X = X.drop(columns=["TBG measured", "TBG"])

clean_X

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TSH,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,referral source
0,41,F,f,f,f,f,f,f,f,f,...,1.3,t,2.5,t,125,t,1.14,t,109,SVHC
1,23,F,f,f,f,f,f,f,f,f,...,4.1,t,2,t,102,f,?,f,?,other
2,46,M,f,f,f,f,f,f,f,f,...,0.98,f,?,t,109,t,0.91,t,120,other
3,70,F,t,f,f,f,f,f,f,f,...,0.16,t,1.9,t,175,f,?,f,?,other
4,70,F,f,f,f,f,f,f,f,f,...,0.72,t,1.2,t,61,t,0.87,t,70,SVI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,F,f,f,f,f,f,f,f,f,...,?,f,?,f,?,f,?,f,?,other
3768,68,F,f,f,f,f,f,f,f,f,...,1,t,2.1,t,124,t,1.08,t,114,SVI
3769,74,F,f,f,f,f,f,f,f,f,...,5.1,t,1.8,t,112,t,1.07,t,105,other
3770,72,M,f,f,f,f,f,f,f,f,...,0.7,t,2,t,82,t,0.94,t,87,SVI
3771,64,F,f,f,f,f,f,f,f,f,...,1,t,2.2,t,99,t,1.07,t,92,other

## 2. Music: 593, 6, 72

In [18]:
import pandas as pd
df = pd.read_csv("./datasets/2-EMOT.csv")

df.head(), df.columns

(   amazed-suprised  happy-pleased  relaxing-clam  quiet-still  sad-lonely  \
 0                0              1              1            0           0
 1                1              0              0            0           0
 2                0              1              0            0           0
 3                0              0              1            0           0
 4                0              0              0            1           0

    angry-aggresive  Mean_Acc1298_Mean_Mem40_Centroid  \
 0                0                          0.034741
 1                1                          0.081374
 2                1                          0.110545
 3                0                          0.042481
 4                0                          0.074550

    Mean_Acc1298_Mean_Mem40_Rolloff  Mean_Acc1298_Mean_Mem40_Flux  \
 0                         0.089665                      0.091225
 1                         0.272747                      0.085733
 2                         0.273567                      0.084410
 3                         0.199281                      0.093447
 4                         0.140880                      0.079789

    Mean_Acc1298_Mean_Mem40_MFCC_0  ...  Std_Acc1298_Std_Mem40_MFCC_11  \
 0                      -73.302422  ...                       0.118630
 1                      -62.584437  ...                       0.070075
 2                      -65.235325  ...                       0.079917
 3                      -80.305152  ...                       0.129145
 4                      -93.697749  ...                       0.284196

    Std_Acc1298_Std_Mem40_MFCC_12  BH_LowPeakAmp  BH_LowPeakBPM  \
 0                       0.094923       0.051035             68
 1                       0.041565       0.295031             70
 2                       0.085821       0.161574             61
 3                       0.122330       0.043012             66
 4                       0.189988       0.029308            100

    BH_HighPeakAmp  BH_HighPeakBPM  BH_HighLowRatio    BHSUM1    BHSUM2  \
 0        0.014937             136                2  0.245457  0.105065
 1        0.276366             140                2  0.343547  0.276366
 2        0.000000             183                3  0.188693  0.045941
 3        0.206562             132                2  0.102839  0.241934
 4        0.144039             200                2  0.195196  0.310801

      BHSUM3
 0  0.405399
 1  0.710924
 2  0.457372
 3  0.351009
 4  0.683817

 [5 rows x 78 columns],
 Index(['amazed-suprised', 'happy-pleased', 'relaxing-clam', 'quiet-still',
        'sad-lonely', 'angry-aggresive', 'Mean_Acc1298_Mean_Mem40_Centroid',
        'Mean_Acc1298_Mean_Mem40_Rolloff', 'Mean_Acc1298_Mean_Mem40_Flux',
        'Mean_Acc1298_Mean_Mem40_MFCC_0', 'Mean_Acc1298_Mean_Mem40_MFCC_1',
        'Mean_Acc1298_Mean_Mem40_MFCC_2', 'Mean_Acc1298_Mean_Mem40_MFCC_3',
        'Mean_Acc1298_Mean_Mem40_MFCC_4', 'Mean_Acc1298_Mean_Mem40_MFCC_5',
        'Mean_Acc1298_Mean_Mem40_MFCC_6', 'Mean_Acc1298_Mean_Mem40_MFCC_7',
        'Mean_Acc1298_Mean_Mem40_MFCC_8', 'Mean_Acc1298_Mean_Mem40_MFCC_9',
        'Mean_Acc1298_Mean_Mem40_MFCC_10', 'Mean_Acc1298_Mean_Mem40_MFCC_11',
        'Mean_Acc1298_Mean_Mem40_MFCC_12', 'Mean_Acc1298_Std_Mem40_Centroid',
        'Mean_Acc1298_Std_Mem40_Rolloff', 'Mean_Acc1298_Std_Mem40_Flux',
        'Mean_Acc1298_Std_Mem40_MFCC_0', 'Mean_Acc1298_Std_Mem40_MFCC_1',
        'Mean_Acc1298_Std_Mem40_MFCC_2', 'Mean_Acc1298_Std_Mem40_MFCC_3',
        'Mean_Acc1298_Std_Mem40_MFCC_4', 'Mean_Acc1298_Std_Mem40_MFCC_5',
        'Mean_Acc1298_Std_Mem40_MFCC_6', 'Mean_Acc1298_Std_Mem40_MFCC_7',
        'Mean_Acc1298_Std_Mem40_MFCC_8', 'Mean_Acc1298_Std_Mem40_MFCC_9',
        'Mean_Acc1298_Std_Mem40_MFCC_10', 'Mean_Acc1298_Std_Mem40_MFCC_11',
        'Mean_Acc1298_Std_Mem40_MFCC_12', 'Std_Acc1298_Mean_Mem40_Centroid',
        'Std_Acc1298_Mean_Mem40_Rolloff', 'Std_Acc1298_Mean_Mem40_Flux',
        'Std_Acc1298_Mean_Mem40_MFCC_0', 'Std_Acc1298_Mean_Mem40_MFCC_1',
        'Std_Acc1298_Mean_Mem40_MFCC_2', 'Std_Acc1298_Mean_Mem40_MFCC_3',
        'Std_Acc1298_Mean_Mem40_MFCC_4', 'Std_Acc1298_Mean_Mem40_MFCC_5',
        'Std_Acc1298_Mean_Mem40_MFCC_6', 'Std_Acc1298_Mean_Mem40_MFCC_7',
        'Std_Acc1298_Mean_Mem40_MFCC_8', 'Std_Acc1298_Mean_Mem40_MFCC_9',
        'Std_Acc1298_Mean_Mem40_MFCC_10', 'Std_Acc1298_Mean_Mem40_MFCC_11',
        'Std_Acc1298_Mean_Mem40_MFCC_12', 'Std_Acc1298_Std_Mem40_Centroid',
        'Std_Acc1298_Std_Mem40_Rolloff', 'Std_Acc1298_Std_Mem40_Flux',
        'Std_Acc1298_Std_Mem40_MFCC_0', 'Std_Acc1298_Std_Mem40_MFCC_1',
        'Std_Acc1298_Std_Mem40_MFCC_2', 'Std_Acc1298_Std_Mem40_MFCC_3',
        'Std_Acc1298_Std_Mem40_MFCC_4', 'Std_Acc1298_Std_Mem40_MFCC_5',
        'Std_Acc1298_Std_Mem40_MFCC_6', 'Std_Acc1298_Std_Mem40_MFCC_7',
        'Std_Acc1298_Std_Mem40_MFCC_8', 'Std_Acc1298_Std_Mem40_MFCC_9',
        'Std_Acc1298_Std_Mem40_MFCC_10', 'Std_Acc1298_Std_Mem40_MFCC_11',
        'Std_Acc1298_Std_Mem40_MFCC_12', 'BH_LowPeakAmp', 'BH_LowPeakBPM',
        'BH_HighPeakAmp', 'BH_HighPeakBPM', 'BH_HighLowRatio', 'BHSUM1',
        'BHSUM2', 'BHSUM3'],
       dtype='object'))

In [19]:
targets = df.columns[:6]
targets

Index(['amazed-suprised', 'happy-pleased', 'relaxing-clam', 'quiet-still',
       'sad-lonely', 'angry-aggresive'],
      dtype='object')

In [20]:
X = df.drop(columns=targets)
y = df[targets]

X, y

(     Mean_Acc1298_Mean_Mem40_Centroid  Mean_Acc1298_Mean_Mem40_Rolloff  \
 0                            0.034741                         0.089665
 1                            0.081374                         0.272747
 2                            0.110545                         0.273567
 3                            0.042481                         0.199281
 4                            0.074550                         0.140880
 ..                                ...                              ...
 588                          0.027142                         0.047551
 589                          0.094829                         0.204498
 590                          0.035169                         0.065403
 591                          0.054276                         0.238158
 592                          0.073194                         0.140733

      Mean_Acc1298_Mean_Mem40_Flux  Mean_Acc1298_Mean_Mem40_MFCC_0  \
 0                        0.091225                      -73.302422
 1                        0.085733                      -62.584437
 2                        0.084410                      -65.235325
 3                        0.093447                      -80.305152
 4                        0.079789                      -93.697749
 ..                            ...                             ...
 588                      0.072043                      -79.881347
 589                      0.082824                      -61.364436
 590                      0.075227                      -81.750533
 591                      0.095935                      -71.009724
 592                      0.080545                      -74.517081

      Mean_Acc1298_Mean_Mem40_MFCC_1  Mean_Acc1298_Mean_Mem40_MFCC_2  \
 0                          6.215179                        0.615074
 1                          3.183163                       -0.218145
 2                          2.794964                        0.639047
 3                          5.824409                        0.648848
 4                          5.543229                        1.064262
 ..                              ...                             ...
 588                        8.119313                        1.927310
 589                        2.966229                        0.627740
 590                       10.311701                        0.092224
 591                        3.181340                        1.547197
 592                        6.945590                       -1.047953

      Mean_Acc1298_Mean_Mem40_MFCC_3  Mean_Acc1298_Mean_Mem40_MFCC_4  \
 0                          2.037160                        0.804065
 1                          0.163038                        0.620251
 2                          1.281297                        0.757896
 3                          1.754870                        1.495532
 4                          0.899152                        0.890336
 ..                              ...                             ...
 588                        1.696017                        0.397888
 589                        1.440352                        0.856243
 590                        0.818851                        1.569606
 591                        2.407780                        0.618838
 592                        1.952278                        0.341936

      Mean_Acc1298_Mean_Mem40_MFCC_5  Mean_Acc1298_Mean_Mem40_MFCC_6  ...  \
 0                          1.301409                        0.558576  ...
 1                          0.458514                        0.041426  ...
 2                          0.489412                        0.627636  ...
 3                          0.739909                        0.809644  ...
 4                          0.702328                        0.490685  ...
 ..                              ...                             ...  ...
 588                        0.857559                        0.302742  ...
 589                        1.110282                        0.394450  ...
 590                        1.831909                        0.057216  ...
 591                        0.997950                        0.825143  ...
 592                        0.770582                        0.144989  ...

      Std_Acc1298_Std_Mem40_MFCC_11  Std_Acc1298_Std_Mem40_MFCC_12  \
 0                         0.118630                       0.094923
 1                         0.070075                       0.041565
 2                         0.079917                       0.085821
 3                         0.129145                       0.122330
 4                         0.284196                       0.189988
 ..                             ...                            ...
 588                       0.129552                       0.106260
 589                       0.128090                       0.167160
 590                       0.147194                       0.098238
 591                       0.080006                       0.058181
 592                       0.073605                       0.081219

      BH_LowPeakAmp  BH_LowPeakBPM  BH_HighPeakAmp  BH_HighPeakBPM  \
 0         0.051035             68        0.014937             136
 1         0.295031             70        0.276366             140
 2         0.161574             61        0.000000             183
 3         0.043012             66        0.206562             132
 4         0.029308            100        0.144039             200
 ..             ...            ...             ...             ...
 588       0.089991             87        0.564842             174
 589       0.035827             65        0.003942             130
 590       0.033681             88        0.000000             176
 591       0.155650             84        0.276695             168
 592       0.056101             94        0.007080             188

      BH_HighLowRatio    BHSUM1    BHSUM2    BHSUM3
 0                  2  0.245457  0.105065  0.405399
 1                  2  0.343547  0.276366  0.710924
 2                  3  0.188693  0.045941  0.457372
 3                  2  0.102839  0.241934  0.351009
 4                  2  0.195196  0.310801  0.683817
 ..               ...       ...       ...       ...
 588                2  0.261742  0.002657  1.149211
 589                2  0.282122  0.052218  0.335371
 590                2  0.184313  0.247136  0.476993
 591                2  0.547126  0.183494  1.255820
 592                2  0.087328  0.236815  0.451701

 [593 rows x 72 columns],
      amazed-suprised  happy-pleased  relaxing-clam  quiet-still  sad-lonely  \
 0                  0              1              1            0           0
 1                  1              0              0            0           0
 2                  0              1              0            0           0
 3                  0              0              1            0           0
 4                  0              0              0            1           0
 ..               ...            ...            ...          ...         ...
 588                0              0              1            1           1
 589                1              0              0            0           1
 590                0              0              1            1           1
 591                0              1              1            0           0
 592                0              1              0            0           0

      angry-aggresive
 0                  0
 1                  1
 2                  1
 3                  0
 4                  0
 ..               ...
 588                0
 589                1
 590                0
 591                0
 592                0

 [593 rows x 6 columns])

In [21]:
if save_files:
    X.to_csv("./data/2-EMOT_X.csv")
    y.to_csv("./data/2-EMOT_y.csv")

## 3. Scence

In [22]:
import pandas as pd
df = pd.read_csv("./datasets/3-SCENE.csv")

df.head(), df.columns

(   beach  sunset  foliage  field  mountain  urban      Att1      Att2  \
 0      1       0        0      0         1      0  0.646467  0.666435
 1      1       0        0      0         0      1  0.770156  0.767255
 2      1       0        0      0         0      0  0.793984  0.772096
 3      1       0        0      0         0      0  0.938563  0.949260
 4      1       0        0      0         0      0  0.512130  0.524684

        Att3      Att4  ...    Att285    Att286    Att287    Att288    Att289  \
 0  0.685047  0.699053  ...  0.061538  0.049615  0.068962  0.653879  0.354982
 1  0.761053  0.745630  ...  0.114123  0.160008  0.414088  0.361843  0.303399
 2  0.761820  0.762213  ...  0.047596  0.038082  0.079977  0.004901  0.003460
 3  0.955621  0.966743  ...  0.027527  0.016922  0.024174  0.036799  0.007694
 4  0.520020  0.504467  ...  0.158730  0.023177  0.129994  0.167709  0.226580

      Att290    Att291    Att292    Att293    Att294
 0  0.124074  0.157332  0.247298  0.014025  0.029709
 1  0.176387  0.251454  0.137833  0.082672  0.036320
 2  0.006049  0.017166  0.051125  0.112506  0.083924
 3  0.009735  0.019267  0.031290  0.049780  0.090959
 4  0.218534  0.198151  0.238796  0.164270  0.184290

 [5 rows x 300 columns],
 Index(['beach', 'sunset', 'foliage', 'field', 'mountain', 'urban', 'Att1',
        'Att2', 'Att3', 'Att4',
        ...
        'Att285', 'Att286', 'Att287', 'Att288', 'Att289', 'Att290', 'Att291',
        'Att292', 'Att293', 'Att294'],
       dtype='object', length=300))

In [23]:
columns = df.columns[df.columns.str.startswith('Att')]

X = df[columns]
y = df.drop(columns=columns)

X, y

(          Att1      Att2      Att3      Att4      Att5      Att6      Att7  \
 0     0.646467  0.666435  0.685047  0.699053  0.652746  0.407864  0.150309
 1     0.770156  0.767255  0.761053  0.745630  0.742231  0.688086  0.708416
 2     0.793984  0.772096  0.761820  0.762213  0.740569  0.734361  0.722677
 3     0.938563  0.949260  0.955621  0.966743  0.968649  0.869619  0.696925
 4     0.512130  0.524684  0.520020  0.504467  0.471209  0.417654  0.364292
 ...        ...       ...       ...       ...       ...       ...       ...
 2402  0.875782  0.901653  0.926227  0.721366  0.795826  0.867642  0.794125
 2403  0.657706  0.669877  0.692338  0.713920  0.727374  0.750354  0.684372
 2404  0.952281  0.944987  0.905556  0.836604  0.875916  0.957034  0.953938
 2405  0.883990  0.899004  0.901019  0.904298  0.846402  0.858145  0.851362
 2406  0.974915  0.866425  0.818144  0.936140  0.938583  0.935087  0.930597

           Att8      Att9     Att10  ...    Att285    Att286    Att287  \
 0     0.535193  0.555689  0.580782  ...  0.061538  0.049615  0.068962
 1     0.757351  0.760633  0.740314  ...  0.114123  0.160008  0.414088
 2     0.849128  0.839607  0.812746  ...  0.047596  0.038082  0.079977
 3     0.953460  0.959631  0.966320  ...  0.027527  0.016922  0.024174
 4     0.562266  0.588592  0.584449  ...  0.158730  0.023177  0.129994
 ...        ...       ...       ...  ...       ...       ...       ...
 2402  0.899067  0.908963  0.895336  ...  0.070152  0.061081  0.121834
 2403  0.718770  0.719916  0.730645  ...  0.047577  0.079166  0.034408
 2404  0.967956  0.819636  0.707311  ...  0.039668  0.050678  0.020770
 2405  0.852472  0.876665  0.908187  ...  0.168355  0.111811  0.148926
 2406  1.000000  0.806074  0.717955  ...  0.003132  0.002082  0.001343

         Att288    Att289    Att290    Att291    Att292    Att293    Att294
 0     0.653879  0.354982  0.124074  0.157332  0.247298  0.014025  0.029709
 1     0.361843  0.303399  0.176387  0.251454  0.137833  0.082672  0.036320
 2     0.004901  0.003460  0.006049  0.017166  0.051125  0.112506  0.083924
 3     0.036799  0.007694  0.009735  0.019267  0.031290  0.049780  0.090959
 4     0.167709  0.226580  0.218534  0.198151  0.238796  0.164270  0.184290
 ...        ...       ...       ...       ...       ...       ...       ...
 2402  0.378950  0.366901  0.211351  0.215147  0.279607  0.254413  0.134350
 2403  0.095084  0.025579  0.013329  0.217201  0.199491  0.048747  0.041638
 2404  0.022791  0.033978  0.023563  0.028002  0.031900  0.017547  0.019734
 2405  0.097985  0.361665  0.200352  0.239041  0.256158  0.226332  0.223070
 2406  0.151318  0.061375  0.072015  0.073742  0.005131  0.025059  0.004033

 [2407 rows x 294 columns],
       beach  sunset  foliage  field  mountain  urban
 0         1       0        0      0         1      0
 1         1       0        0      0         0      1
 2         1       0        0      0         0      0
 3         1       0        0      0         0      0
 4         1       0        0      0         0      0
 ...     ...     ...      ...    ...       ...    ...
 2402      0       0        0      0         0      1
 2403      0       0        0      0         0      1
 2404      0       0        0      0         0      1
 2405      0       0        0      0         0      1
 2406      0       0        0      0         0      1

 [2407 rows x 6 columns])

In [24]:
if save_files:
    X.to_csv("./data/3-SCENE_X.csv")
    y.to_csv("./data/3-SCENE_y.csv")

## 4. Flags

In [25]:
from scipy.io import arff
import pandas as pd
import os

flags_raw_file_name = './flags/flags.arff'
assert(os.path.isfile(flags_raw_file_name))

# Load ARFF file
data, meta = arff.loadarff(flags_raw_file_name,)

df = pd.DataFrame(data)

# Optionally, decode byte strings to regular strings if necessary
df = df.applymap(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)

df.head(), df.columns

(  landmass zone    area  population language religion  bars  stripes  colours  \
 0        5    1   648.0        16.0       10        2   0.0      3.0      5.0
 1        3    1    29.0         3.0        6        6   0.0      0.0      3.0
 2        4    1  2388.0        20.0        8        2   2.0      0.0      3.0
 3        6    3     0.0         0.0        1        1   0.0      0.0      5.0
 4        3    1     0.0         0.0        6        0   3.0      0.0      3.0

    circles  ...  icon  animate  text  red green blue yellow white black orange
 0      0.0  ...     1        0     0    1     1    0      1     1     1      0
 1      0.0  ...     0        1     0    1     0    0      1     0     1      0
 2      0.0  ...     0        0     0    1     1    0      0     1     0      0
 3      0.0  ...     1        1     0    1     0    1      1     1     0      1
 4      0.0  ...     0        0     0    1     0    1      1     0     0      0

 [5 rows x 26 columns],
 Index(['landmass', 'zone', 'area', 'population', 'language', 'religion',
        'bars', 'stripes', 'colours', 'circles', 'crosses', 'saltires',
        'quarters', 'sunstars', 'crescent', 'triangle', 'icon', 'animate',
        'text', 'red', 'green', 'blue', 'yellow', 'white', 'black', 'orange'],
       dtype='object'))

In [26]:
columns = ["red", "green", "blue", "yellow", 'white', 'black', "orange"]

X = df.drop(columns=columns)
y = df[columns]

X, y

(    landmass zone    area  population language religion  bars  stripes  \
 0          5    1   648.0        16.0       10        2   0.0      3.0
 1          3    1    29.0         3.0        6        6   0.0      0.0
 2          4    1  2388.0        20.0        8        2   2.0      0.0
 3          6    3     0.0         0.0        1        1   0.0      0.0
 4          3    1     0.0         0.0        6        0   3.0      0.0
 ..       ...  ...     ...         ...      ...      ...   ...      ...
 189        6    3     3.0         0.0        1        1   0.0      0.0
 190        3    1   256.0        22.0        6        6   0.0      3.0
 191        4    2   905.0        28.0       10        5   0.0      0.0
 192        4    2   753.0         6.0       10        5   3.0      0.0
 193        4    2   391.0         8.0       10        5   0.0      7.0

      colours  circles  crosses  saltires  quarters  sunstars crescent  \
 0        5.0      0.0      0.0       0.0       0.0       1.0        0
 1        3.0      0.0      0.0       0.0       0.0       1.0        0
 2        3.0      0.0      0.0       0.0       0.0       1.0        1
 3        5.0      0.0      0.0       0.0       0.0       0.0        0
 4        3.0      0.0      0.0       0.0       0.0       0.0        0
 ..       ...      ...      ...       ...       ...       ...      ...
 189      3.0      0.0      0.0       0.0       1.0       5.0        0
 190      4.0      0.0      0.0       0.0       0.0       1.0        0
 191      4.0      1.0      0.0       0.0       0.0       0.0        0
 192      4.0      0.0      0.0       0.0       0.0       0.0        0
 193      5.0      0.0      0.0       0.0       0.0       1.0        0

     triangle icon animate text
 0          0    1       0    0
 1          0    0       1    0
 2          0    0       0    0
 3          1    1       1    0
 4          0    0       0    0
 ..       ...  ...     ...  ...
 189        0    0       0    0
 190        0    0       0    0
 191        0    1       1    0
 192        0    0       1    0
 193        1    1       1    0

 [194 rows x 19 columns],
     red green blue yellow white black orange
 0     1     1    0      1     1     1      0
 1     1     0    0      1     0     1      0
 2     1     1    0      0     1     0      0
 3     1     0    1      1     1     0      1
 4     1     0    1      1     0     0      0
 ..   ..   ...  ...    ...   ...   ...    ...
 189   1     0    1      0     1     0      0
 190   1     0    1      1     1     0      0
 191   1     1    0      1     0     0      1
 192   1     1    0      0     0     1      1
 193   1     1    0      1     1     1      0

 [194 rows x 7 columns])

In [27]:
if save_files:
    X.to_csv("./data/4-FLAGS_X.csv")
    y.to_csv("./data/4-FLAGS_y.csv")

# 5. Foodtruck: N = 407, L = 12, d = 21

In [28]:
from scipy.io import arff
import pandas as pd
import os

mediamill_raw_file_name = './foodtruck/foodtruck.arff'
assert(os.path.isfile(mediamill_raw_file_name))

# Load ARFF file
data, meta = arff.loadarff(mediamill_raw_file_name,)

df = pd.DataFrame(data)

# Optionally, decode byte strings to regular strings if necessary
df = df.applymap(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)

df.head(), df.columns

(   frequency       time  expenses      motivation  taste  hygiene  menu  \
 0        2.0     dinner      30.0          friend    5.0      4.0   4.0
 1        0.0     dinner      20.0       by_chance    5.0      2.0   4.0
 2        1.0  afternoon      15.0       by_chance    5.0      2.0   2.0
 3        0.0      lunch      40.0          friend    5.0      5.0   4.0
 4        0.0     dinner      15.0  social_network    5.0      4.0   2.0

    presentation  attendance  ingredients  ...  italian_food  brazilian_food  \
 0           3.0         4.0          4.0  ...             0               0
 1           4.0         4.0          4.0  ...             1               0
 2           5.0         3.0          5.0  ...             0               1
 3           3.0         4.0          4.0  ...             0               0
 4           3.0         4.0          4.0  ...             0               0

    mexican_food  chinese_food  japanese_food arabic_food  snacks  \
 0             0             0              0           0       0
 1             1             0              0           0       0
 2             0             0              0           0       0
 3             0             0              0           0       0
 4             0             0              0           0       0

    healthy_food  fitness_food  sweets_desserts
 0             0             0                1
 1             0             0                1
 2             0             0                0
 3             0             0                0
 4             0             0                0

 [5 rows x 33 columns],
 Index(['frequency', 'time', 'expenses', 'motivation', 'taste', 'hygiene',
        'menu', 'presentation', 'attendance', 'ingredients', 'place.to.sit',
        'takeaway', 'variation', 'stop.strucks', 'schedule', 'gender',
        'age.group', 'scholarity', 'average.income', 'has.work',
        'marital.status', 'street_food', 'gourmet', 'italian_food',
        'brazilian_food', 'mexican_food', 'chinese_food', 'japanese_food',
        'arabic_food', 'snacks', 'healthy_food', 'fitness_food',
        'sweets_desserts'],
       dtype='object'))

In [29]:
columns = ['gourmet', 'snacks', 'street_food', 'italian_food',
           'brazilian_food', 'mexican_food', 'chinese_food','japanese_food',
           'arabic_food', 'healthy_food', 'fitness_food', 'sweets_desserts']

X = df.drop(columns=columns)
y = df[columns]

X, y

(     frequency       time  expenses      motivation  taste  hygiene  menu  \
 0          2.0     dinner      30.0          friend    5.0      4.0   4.0
 1          0.0     dinner      20.0       by_chance    5.0      2.0   4.0
 2          1.0  afternoon      15.0       by_chance    5.0      2.0   2.0
 3          0.0      lunch      40.0          friend    5.0      5.0   4.0
 4          0.0     dinner      15.0  social_network    5.0      4.0   2.0
 ..         ...        ...       ...             ...    ...      ...   ...
 402        0.0     dinner      30.0          friend    5.0      5.0   5.0
 403        0.0     dinner      30.0  social_network    5.0      5.0   4.0
 404        0.0     dinner      30.0  social_network    5.0      5.0   4.0
 405        1.0     dinner      30.0  social_network    5.0      4.0   4.0
 406        0.0     dinner      15.0          friend    4.0      4.0   5.0

      presentation  attendance  ingredients  ...  takeaway  variation  \
 0             3.0         4.0          4.0  ...       3.0        3.0
 1             4.0         4.0          4.0  ...       2.0        3.0
 2             5.0         3.0          5.0  ...       2.0        2.0
 3             3.0         4.0          4.0  ...       4.0        5.0
 4             3.0         4.0          4.0  ...       3.0        4.0
 ..            ...         ...          ...  ...       ...        ...
 402           5.0         5.0          5.0  ...       3.0        3.0
 403           3.0         4.0          4.0  ...       3.0        4.0
 404           5.0         5.0          5.0  ...       2.0        4.0
 405           4.0         4.0          5.0  ...       3.0        4.0
 406           2.0         4.0          4.0  ...       4.0        4.0

      stop.strucks  schedule  gender age.group  scholarity  average.income  \
 0             2.0       2.0       M       2.0         1.5             4.0
 1             1.0       4.0       F       3.0         2.0             5.0
 2             2.0       1.0       M       2.0         1.5             4.0
 3             1.0       1.0       M       3.0         2.0             6.0
 4             1.0       1.0       M       2.0         1.5             4.0
 ..            ...       ...     ...       ...         ...             ...
 402           3.0       4.0       F       3.0         2.0             3.0
 403           5.0       4.0       F       1.0         1.0             4.0
 404           3.0       2.0       M       2.0         2.0             1.0
 405           5.0       4.0       M       3.0         1.5             2.0
 406           4.0       4.0       M       1.0         0.0             1.0

      has.work  marital.status
 0         0.0          single
 1         1.0         married
 2         1.0          single
 3         1.0          single
 4         1.0          single
 ..        ...             ...
 402       1.0          single
 403       0.0          single
 404       1.0          single
 405       1.0         married
 406       0.0          single

 [407 rows x 21 columns],
     gourmet snacks street_food italian_food brazilian_food mexican_food  \
 0         0      0           1            0              0            0
 1         0      0           1            1              0            1
 2         0      0           1            0              1            0
 3         1      0           0            0              0            0
 4         0      0           1            0              0            0
 ..      ...    ...         ...          ...            ...          ...
 402       0      0           1            0              0            0
 403       1      0           1            0              0            0
 404       0      0           1            0              0            0
 405       1      1           1            1              1            1
 406       0      1           0            0              0            0

     chinese_food japanese_food arabic_food healthy_food fitness_food  \
 0              0             0           0            0            0
 1              0             0           0            0            0
 2              0             0           0            0            0
 3              0             0           0            0            0
 4              0             0           0            0            0
 ..           ...           ...         ...          ...          ...
 402            0             0           0            0            0
 403            0             0           0            0            0
 404            0             0           0            0            0
 405            1             1           1            0            0
 406            0             0           0            0            0

     sweets_desserts
 0                 1
 1                 1
 2                 0
 3                 0
 4                 0
 ..              ...
 402               0
 403               1
 404               1
 405               1
 406               0

 [407 rows x 12 columns])

In [30]:
if save_files:
    X.to_csv("./data/5-FOODTRUCK_X.csv")
    y.to_csv("./data/5-FOODTRUCK_y.csv")

## 6. Yeast

In [31]:
from scipy.io import arff
import pandas as pd
import os

yeast_raw_file_name = './yeast/yeast.arff'
assert(os.path.isfile(yeast_raw_file_name))

# Load ARFF file
data, meta = arff.loadarff(yeast_raw_file_name)

df = pd.DataFrame(data)

# Optionally, decode byte strings to regular strings if necessary
df = df.applymap(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)

df

,Att1,Att2,Att3,Att4,Att5,Att6,Att7,Att8,Att9,Att10,...,Class5,Class6,Class7,Class8,Class9,Class10,Class11,Class12,Class13,Class14
0,0.004168,-0.170975,-0.156748,-0.142151,0.058781,0.026851,0.197719,0.041850,0.066938,-0.056617,...,0,0,1,1,0,0,0,1,1,0
1,-0.103956,0.011879,-0.098986,-0.054501,-0.007970,0.049113,-0.030580,-0.077933,-0.080529,-0.016267,...,0,0,0,0,0,0,0,0,0,0
2,0.509949,0.401709,0.293799,0.087714,0.011686,-0.006411,-0.006255,0.013646,-0.040666,-0.024447,...,0,0,0,0,0,0,0,1,1,0
3,0.119092,0.004412,-0.002262,0.072254,0.044512,-0.051467,0.074686,-0.007670,0.079438,0.062184,...,0,0,0,0,0,0,0,0,0,0
4,0.042037,0.007054,-0.069483,0.081015,-0.048207,0.089446,-0.004947,0.064456,-0.133387,0.068878,...,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412,-0.119784,0.001259,-0.123645,-0.015513,-0.059683,0.091032,-0.043302,0.229219,-0.071498,0.182709,...,0,0,0,0,0,0,0,0,0,0
2413,0.085327,0.058590,0.085268,-0.020897,0.068972,0.030125,0.078056,0.011346,0.052618,0.066093,...,0,0,0,0,0,0,0,1,1,0
2414,0.082526,-0.095571,-0.022019,-0.046793,-0.038360,0.041084,0.056509,0.011749,-0.029657,-0.012198,...,0,1,1,1,0,0,0,1,1,0
2415,-0.130830,0.008868,-0.009457,-0.058930,-0.041224,0.042269,0.117717,0.037388,-0.085563,0.136649,...,0,0,0,0,0,0,0,1,1,0
2416,-0.171578,-0.066536,0.168206,0.246831,0.079555,0.016528,-0.088908,-0.212926,-0.280230,-0.187064,...,0,0,0,0,0,0,0,1,1,0

In [32]:
columns = df.columns[df.columns.str.startswith('Att')]

X = df[columns]
y = df.drop(columns=columns)

X, y

(          Att1      Att2      Att3      Att4      Att5      Att6      Att7  \
 0     0.004168 -0.170975 -0.156748 -0.142151  0.058781  0.026851  0.197719
 1    -0.103956  0.011879 -0.098986 -0.054501 -0.007970  0.049113 -0.030580
 2     0.509949  0.401709  0.293799  0.087714  0.011686 -0.006411 -0.006255
 3     0.119092  0.004412 -0.002262  0.072254  0.044512 -0.051467  0.074686
 4     0.042037  0.007054 -0.069483  0.081015 -0.048207  0.089446 -0.004947
 ...        ...       ...       ...       ...       ...       ...       ...
 2412 -0.119784  0.001259 -0.123645 -0.015513 -0.059683  0.091032 -0.043302
 2413  0.085327  0.058590  0.085268 -0.020897  0.068972  0.030125  0.078056
 2414  0.082526 -0.095571 -0.022019 -0.046793 -0.038360  0.041084  0.056509
 2415 -0.130830  0.008868 -0.009457 -0.058930 -0.041224  0.042269  0.117717
 2416 -0.171578 -0.066536  0.168206  0.246831  0.079555  0.016528 -0.088908

           Att8      Att9     Att10  ...     Att94     Att95     Att96  \
 0     0.041850  0.066938 -0.056617  ...  0.006166 -0.012976 -0.014259
 1    -0.077933 -0.080529 -0.016267  ...  0.007680  0.027719 -0.085811
 2     0.013646 -0.040666 -0.024447  ...  0.096277 -0.044932 -0.089470
 3    -0.007670  0.079438  0.062184  ... -0.083809  0.200354 -0.075716
 4     0.064456 -0.133387  0.068878  ... -0.060467  0.044351 -0.057209
 ...        ...       ...       ...  ...       ...       ...       ...
 2412  0.229219 -0.071498  0.182709  ...  0.024084 -0.055915 -0.055593
 2413  0.011346  0.052618  0.066093  ... -0.079992 -0.075444  0.294987
 2414  0.011749 -0.029657 -0.012198  ... -0.006624 -0.036850 -0.064831
 2415  0.037388 -0.085563  0.136649  ...  0.085087  0.033166 -0.012710
 2416 -0.212926 -0.280230 -0.187064  ...  0.360199 -0.058178 -0.003104

          Att97     Att98     Att99    Att100    Att101    Att102    Att103
 0    -0.015024 -0.010747  0.000411 -0.032056 -0.018312  0.030126  0.124722
 1     0.111123  0.050541  0.027565 -0.063569 -0.041471 -0.079758  0.017161
 2    -0.009162 -0.012010  0.308378 -0.028053  0.026710 -0.066565 -0.122352
 3     0.196605  0.152758 -0.028484 -0.074207 -0.089227 -0.049913 -0.043893
 4     0.028047  0.029661 -0.050026  0.023248 -0.061539 -0.035160  0.067834
 ...        ...       ...       ...       ...       ...       ...       ...
 2412 -0.049642  0.018571  0.068742 -0.061001 -0.081132 -0.065844  0.001267
 2413 -0.076379 -0.076293 -0.072451 -0.052258 -0.040026  0.342176 -0.169668
 2414 -0.068696 -0.068521 -0.039841  0.274575 -0.066957  0.260121 -0.125303
 2415  0.135359  0.213512 -0.107561 -0.081925 -0.122332 -0.022453  0.001953
 2416 -0.016028  0.054244 -0.017797 -0.081870 -0.083342 -0.063135  0.018810

 [2417 rows x 103 columns],
      Class1 Class2 Class3 Class4 Class5 Class6 Class7 Class8 Class9 Class10  \
 0         0      0      0      0      0      0      1      1      0       0
 1         0      0      1      1      0      0      0      0      0       0
 2         0      1      1      0      0      0      0      0      0       0
 3         0      0      1      1      0      0      0      0      0       0
 4         0      0      1      1      1      1      0      0      0       0
 ...     ...    ...    ...    ...    ...    ...    ...    ...    ...     ...
 2412      0      1      1      0      0      0      0      0      0       0
 2413      1      1      0      0      0      0      0      0      0       0
 2414      0      0      0      0      0      1      1      1      0       0
 2415      0      0      0      0      0      0      0      0      0       0
 2416      0      1      1      0      0      0      0      0      0       0

      Class11 Class12 Class13 Class14
 0          0       1       1       0
 1          0       0       0       0
 2          0       1       1       0
 3          0       0       0       0
 4          0       0       0       0
 ...      ...     ...     ...     ...
 2412       0       0       0       0
 2413       0       1       1       0
 2414       0       1       1       0
 2415       0       1       1       0
 2416       0       1       1       0

 [2417 rows x 14 columns])

In [33]:
if save_files:
    X.to_csv("./data/6-YEAST_X.csv")
    y.to_csv("./data/6-YEAST_y.csv")

## 7. Birds

In [34]:
import pandas as pd
df = pd.read_csv("./datasets/7-BIRDS.csv")

df.columns

Index(['L1', 'L2', 'L3', 'L4', 'L5', 'L6', 'L7', 'L8', 'L9', 'L10',
       ...
       'A251', 'A252', 'A253', 'A254', 'A255', 'A256', 'A257', 'A258', 'A259',
       'A260'],
      dtype='object', length=279)

In [35]:
X = df[df.columns[df.columns.str.startswith('A')]]  # Selecting columns with names starting with 'A'
y = df[df.columns[df.columns.str.startswith('L')]]  # Selecting columns with names starting with 'L'

X, y

(           A1        A2        A3        A4        A5        A6        A7  \
 0    0.016521  0.039926  0.089632  0.134119  0.170470  0.176872  0.171546
 1    0.006600  0.035984  0.089956  0.123214  0.172273  0.177068  0.165507
 2    0.006894  0.017722  0.048062  0.065802  0.103443  0.091397  0.084931
 3    0.031046  0.127675  0.221428  0.272707  0.358743  0.349389  0.316029
 4    0.064721  0.226644  0.304482  0.274662  0.346980  0.334063  0.307223
 ..        ...       ...       ...       ...       ...       ...       ...
 640  0.065968  0.005699  0.009809  0.014150  0.027981  0.027554  0.028538
 641  0.037432  0.010440  0.021009  0.025018  0.089126  0.037404  0.037024
 642  0.200058  0.054787  0.137048  0.162441  0.192939  0.177832  0.178606
 643  0.064331  0.012261  0.022449  0.026526  0.044141  0.040997  0.039509
 644  0.008697  0.012031  0.021212  0.028663  0.044081  0.041791  0.044002

            A8        A9       A10  ...  A251  A252       A253       A254  \
 0    0.182392  0.162482  0.159083  ...   0.0    13  16.384615  20.617394
 1    0.179655  0.161744  0.163678  ...   0.0     0   0.000000   0.000000
 2    0.088666  0.075676  0.074408  ...   0.0     2  24.000000   2.828427
 3    0.330656  0.310752  0.306288  ...   0.0     0   0.000000   0.000000
 4    0.324666  0.297070  0.292258  ...   0.0     0   0.000000   0.000000
 ..        ...       ...       ...  ...   ...   ...        ...        ...
 640  0.031886  0.027338  0.030704  ...   0.0     0   0.000000   0.000000
 641  0.046730  0.033445  0.036546  ...   0.0     0   0.000000   0.000000
 642  0.174532  0.136221  0.142075  ...   0.0     0   0.000000   0.000000
 643  0.044909  0.040044  0.041884  ...   0.0     0   0.000000   0.000000
 644  0.046693  0.040220  0.041678  ...   0.0     0   0.000000   0.000000

           A255       A256        A257         A258  A259  A260
 0    46.769231  71.863118  788.923077  1761.802180     1     1
 1     0.000000   0.000000    0.000000     0.000000     0     1
 2    28.000000   1.414214  674.000000   113.137085     1     1
 3     0.000000   0.000000    0.000000     0.000000     0     1
 4     0.000000   0.000000    0.000000     0.000000     0     1
 ..         ...        ...         ...          ...   ...   ...
 640   0.000000   0.000000    0.000000     0.000000     0    17
 641   0.000000   0.000000    0.000000     0.000000     0    17
 642   0.000000   0.000000    0.000000     0.000000     0    17
 643   0.000000   0.000000    0.000000     0.000000     0    17
 644   0.000000   0.000000    0.000000     0.000000     0    17

 [645 rows x 260 columns],
      L1  L2  L3  L4  L5  L6  L7  L8  L9  L10  L11  L12  L13  L14  L15  L16  \
 0     0   0   0   0   0   0   0   0   0    0    0    1    1    0    0    0
 1     0   0   0   0   0   0   0   0   0    0    0    0    0    0    0    0
 2     0   0   0   0   0   0   0   0   0    0    1    0    0    0    0    0
 3     0   0   0   0   0   0   0   0   0    0    0    0    0    0    0    0
 4     0   0   0   0   0   0   0   0   0    0    0    0    0    0    0    0
 ..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
 640   0   0   0   0   0   0   0   0   0    0    0    0    0    0    0    0
 641   0   0   0   0   0   0   0   0   0    0    0    0    0    0    0    0
 642   0   0   0   0   0   0   0   0   0    0    0    0    0    0    0    0
 643   0   0   0   0   0   0   0   0   0    0    0    0    0    0    0    0
 644   0   0   0   0   0   0   0   0   0    0    0    0    0    0    0    0

      L17  L18  L19
 0      0    0    0
 1      0    0    0
 2      0    0    0
 3      0    0    0
 4      0    0    0
 ..   ...  ...  ...
 640    0    0    0
 641    0    0    0
 642    0    0    0
 643    0    0    0
 644    0    0    0

 [645 rows x 19 columns])

In [36]:
if save_files:
    X.to_csv("./data/7-BIRDS_X.csv")
    y.to_csv("./data/7-BIRDS_y.csv")

## 8. Genbase

In [37]:
from scipy.io import arff
import pandas as pd
import os

genbase_raw_file_name = './genbase/genbase.arff'
assert(os.path.isfile(genbase_raw_file_name))

# Load ARFF file
data, meta = arff.loadarff(genbase_raw_file_name,)

df = pd.DataFrame(data)

# Optionally, decode byte strings to regular strings if necessary
df = df.applymap(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)

df.head(), df.columns

(  protein PS00010 PS00011 PS00012 PS00014 PS00017 PS00018 PS00019 PS00020  \
 0  O00060      NO      NO      NO      NO      NO      NO      NO      NO
 1  O00139      NO      NO      NO      NO     YES      NO      NO      NO
 2  O02741      NO      NO      NO      NO      NO      NO      NO      NO
 3  O08424      NO      NO      NO      NO      NO      NO      NO      NO
 4  O12984      NO      NO      NO      NO      NO      NO      NO      NO

   PS00021  ... PDOC00662 PDOC00018 PDOC50001 PDOC00014 PDOC00750 PDOC50196  \
 0      NO  ...         0         0         0         0         0         0
 1      NO  ...         0         0         0         0         0         0
 2      NO  ...         0         0         0         0         0         0
 3      NO  ...         0         0         0         0         0         0
 4      NO  ...         0         0         0         0         0         0

   PDOC50199 PDOC00660 PDOC00653 PDOC00030
 0         0         0         0         0
 1         0         0         0         0
 2         0         0         0         0
 3         0         0         0         0
 4         0         0         0         0

 [5 rows x 1213 columns],
 Index(['protein', 'PS00010', 'PS00011', 'PS00012', 'PS00014', 'PS00017',
        'PS00018', 'PS00019', 'PS00020', 'PS00021',
        ...
        'PDOC00662', 'PDOC00018', 'PDOC50001', 'PDOC00014', 'PDOC00750',
        'PDOC50196', 'PDOC50199', 'PDOC00660', 'PDOC00653', 'PDOC00030'],
       dtype='object', length=1213))

In [38]:
columns = df.columns[df.columns.str.startswith('PDOC')]

X = df.drop(columns=columns)
y = df[columns]

for x in X.columns:
    if X[x].dtype == 'object':
        X[x] = label_encoder.fit_transform(X[x])


X, y

(     protein  PS00010  PS00011  PS00012  PS00014  PS00017  PS00018  PS00019  \
 0          0        0        0        0        0        0        0        0
 1          1        0        0        0        0        1        0        0
 2          2        0        0        0        0        0        0        0
 3          3        0        0        0        0        0        0        0
 4          4        0        0        0        0        0        0        0
 ..       ...      ...      ...      ...      ...      ...      ...      ...
 657      657        0        0        0        0        0        0        0
 658      658        0        0        0        0        1        0        0
 659      659        0        0        0        0        0        0        0
 660      660        0        0        0        0        0        0        0
 661      661        0        0        0        0        1        0        0

      PS00020  PS00021  ...  PS50821  PS50822  PS50823  PS50824  PS50825  \
 0          0        0  ...        0        0        0        0        0
 1          0        0  ...        0        0        0        0        0
 2          0        0  ...        0        0        0        0        0
 3          0        0  ...        0        0        0        0        0
 4          0        0  ...        0        0        0        0        0
 ..       ...      ...  ...      ...      ...      ...      ...      ...
 657        0        0  ...        0        0        0        0        0
 658        0        0  ...        0        0        0        0        0
 659        0        0  ...        0        0        0        0        0
 660        0        0  ...        0        0        0        0        0
 661        0        0  ...        0        0        0        0        0

      PS50826  PS50827  PS50829  PS50830  PS60000
 0          0        0        0        0        0
 1          0        0        0        0        0
 2          0        0        0        0        0
 3          0        0        0        0        0
 4          0        0        0        0        0
 ..       ...      ...      ...      ...      ...
 657        0        0        0        0        0
 658        0        0        0        0        0
 659        0        0        0        0        0
 660        0        0        0        0        0
 661        0        0        0        0        0

 [662 rows x 1186 columns],
     PDOC00154 PDOC00343 PDOC00271 PDOC00064 PDOC00791 PDOC00380 PDOC50007  \
 0           1         0         0         0         0         0         0
 1           0         1         0         0         0         0         0
 2           0         0         1         0         0         0         0
 3           0         0         0         1         0         0         0
 4           0         0         0         0         1         0         0
 ..        ...       ...       ...       ...       ...       ...       ...
 657         0         0         0         0         1         0         0
 658         0         0         0         0         0         0         0
 659         0         0         0         0         0         0         0
 660         0         0         0         0         1         0         0
 661         0         0         0         0         0         0         0

     PDOC00224 PDOC00100 PDOC00670  ... PDOC00662 PDOC00018 PDOC50001  \
 0           0         0         0  ...         0         0         0
 1           0         0         0  ...         0         0         0
 2           0         0         0  ...         0         0         0
 3           0         0         0  ...         0         0         0
 4           0         0         0  ...         0         0         0
 ..        ...       ...       ...  ...       ...       ...       ...
 657         0         0         0  ...         0         0         0
 658         0         0         1  ...         0         0         0
 659         0         0         1  ...         0         0         0
 660         0         0         0  ...         0         0         0
 661         0         0         1  ...         0         0         0

     PDOC00014 PDOC00750 PDOC50196 PDOC50199 PDOC00660 PDOC00653 PDOC00030
 0           0         0         0         0         0         0         0
 1           0         0         0         0         0         0         0
 2           0         0         0         0         0         0         0
 3           0         0         0         0         0         0         0
 4           0         0         0         0         0         0         0
 ..        ...       ...       ...       ...       ...       ...       ...
 657         0         0         0         0         0         0         0
 658         0         0         0         0         0         0         0
 659         0         0         0         0         0         0         0
 660         0         0         0         0         0         0         0
 661         0         0         0         0         0         0         0

 [662 rows x 27 columns])

In [39]:
if save_files:
    X.to_csv("./data/8-GENBASE_X.csv")
    y.to_csv("./data/8-GENBASE_y.csv")

## 9. Medical

In [40]:
import pandas as pd
df = pd.read_csv("./datasets/9-MEDC.csv")

df.head(), df.columns

(   Class-0-593_70  Class-1-079_99  Class-2-786_09  Class-3-759_89  \
 0               0               0               0               0
 1               0               0               0               0
 2               0               0               0               0
 3               0               0               0               0
 4               1               0               0               0

    Class-4-753_0  Class-5-786_2  Class-6-V72_5  Class-7-511_9  Class-8-596_8  \
 0              1              0              0              0              0
 1              1              0              0              0              0
 2              0              0              0              0              0
 3              1              0              0              0              0
 4              0              0              0              0              0

    Class-9-599_0  ...  x2  x5  xray  year  year-old  yearly  years  yesterday  \
 0              0  ...   0   0     0     0         0       0      0          0
 1              0  ...   0   0     0     0         0       0      0          0
 2              0  ...   0   0     0     0         0       0      0          0
 3              0  ...   0   0     0     0         0       0      0          0
 4              0  ...   0   0     0     0         0       0      0          0

    zithromax  zone
 0          0     0
 1          0     0
 2          0     0
 3          0     0
 4          0     0

 [5 rows x 1494 columns],
 Index(['Class-0-593_70', 'Class-1-079_99', 'Class-2-786_09', 'Class-3-759_89',
        'Class-4-753_0', 'Class-5-786_2', 'Class-6-V72_5', 'Class-7-511_9',
        'Class-8-596_8', 'Class-9-599_0',
        ...
        'x2', 'x5', 'xray', 'year', 'year-old', 'yearly', 'years', 'yesterday',
        'zithromax', 'zone'],
       dtype='object', length=1494))

In [41]:
X = df.drop(columns=df.columns[df.columns.str.startswith('Class')])  # Selecting columns with names starting with 'L'
y = df[df.columns[df.columns.str.startswith('Class')]]  # Selecting columns with names starting with 'A'

X, y

(     -  /  0  00  04  0;  0cm  1  1-1/2  1-1/2-year  ...  x2  x5  xray  year  \
 0    0  0  0   0   0   0    0  0      0           0  ...   0   0     0     0
 1    1  0  0   0   0   0    0  1      0           0  ...   0   0     0     0
 2    1  0  0   0   0   0    0  1      0           0  ...   0   0     0     0
 3    1  0  0   0   0   0    0  0      0           0  ...   0   0     0     0
 4    0  0  0   0   0   0    0  1      0           0  ...   0   0     0     0
 ..  .. .. ..  ..  ..  ..  ... ..    ...         ...  ...  ..  ..   ...   ...
 973  0  0  0   0   0   0    0  0      0           0  ...   0   0     0     0
 974  1  0  0   0   0   0    0  0      0           0  ...   0   0     0     0
 975  1  0  0   0   0   0    0  0      0           0  ...   0   0     0     0
 976  0  0  0   0   0   0    0  0      0           0  ...   0   0     0     0
 977  1  0  0   0   0   0    0  0      0           0  ...   0   0     0     0

      year-old  yearly  years  yesterday  zithromax  zone
 0           0       0      0          0          0     0
 1           0       0      0          0          0     0
 2           0       0      0          0          0     0
 3           0       0      0          0          0     0
 4           0       0      0          0          0     0
 ..        ...     ...    ...        ...        ...   ...
 973         0       0      1          0          0     0
 974         1       0      0          0          0     0
 975         1       0      0          0          0     0
 976         0       0      0          0          0     0
 977         0       0      0          0          0     0

 [978 rows x 1449 columns],
      Class-0-593_70  Class-1-079_99  Class-2-786_09  Class-3-759_89  \
 0                 0               0               0               0
 1                 0               0               0               0
 2                 0               0               0               0
 3                 0               0               0               0
 4                 1               0               0               0
 ..              ...             ...             ...             ...
 973               0               0               0               0
 974               0               0               0               0
 975               0               0               0               0
 976               0               0               0               0
 977               0               0               0               0

      Class-4-753_0  Class-5-786_2  Class-6-V72_5  Class-7-511_9  \
 0                1              0              0              0
 1                1              0              0              0
 2                0              0              0              0
 3                1              0              0              0
 4                0              0              0              0
 ..             ...            ...            ...            ...
 973              0              0              0              0
 974              0              0              0              0
 975              1              0              0              0
 976              0              0              0              0
 977              0              0              0              0

      Class-8-596_8  Class-9-599_0  ...  Class-35-493_90  Class-36-788_30  \
 0                0              0  ...                0                0
 1                0              0  ...                0                0
 2                0              0  ...                0                1
 3                0              0  ...                0                0
 4                0              0  ...                0                0
 ..             ...            ...  ...              ...              ...
 973              0              0  ...                1                0
 974              0              0  ...                0                0
 975              0              0  ...                0                0
 976              0              0  ...                0                0
 977              0              0  ...                0                0

      Class-37-753_3  Class-38-593_89  Class-39-758_6  Class-40-741_90  \
 0                 0                0               0                0
 1                 0                0               0                0
 2                 0                0               0                0
 3                 0                0               0                0
 4                 0                0               0                0
 ..              ...              ...             ...              ...
 973               0                0               0                0
 974               0                0               0                0
 975               0                0               0                0
 976               0                0               0                0
 977               0                1               0                0

      Class-41-591  Class-42-599_7  Class-43-279_12  Class-44-786_07
 0               0               0                0                0
 1               0               0                0                0
 2               1               0                0                0
 3               0               0                0                0
 4               0               0                0                0
 ..            ...             ...              ...              ...
 973             0               0                0                0
 974             0               0                0                1
 975             0               0                0                0
 976             0               0                0                1
 977             0               0                0                0

 [978 rows x 45 columns])

In [42]:
if save_files:
    X.to_csv("./data/9-MEDC_X.csv")
    y.to_csv("./data/9-MEDC_y.csv")

## 10. Enron

In [43]:
import pandas as pd
df = pd.read_csv("./datasets/10-ENRON.csv")

df.head(), df.columns

(   A.A8  C.C9  B.B12  C.C11  C.C5  C.C7  B.B2  B.B3  D.D16  A.A7  ...  \
 0     0     0      0      0     0     0     0     0      0     0  ...
 1     0     0      0      0     0     0     0     0      0     0  ...
 2     0     0      0      0     0     0     0     0      0     0  ...
 3     0     0      0      0     0     0     0     0      0     0  ...
 4     0     0      0      0     0     0     0     0      0     0  ...

    workers  working  world  writer  writers  www  year  years  yesterday  york
 0        0        0      0       0        0    0     0      0          0     0
 1        0        0      0       0        0    0     0      0          0     0
 2        0        0      0       0        0    0     0      0          0     0
 3        0        0      0       0        0    0     0      0          0     0
 4        0        0      0       0        0    0     1      0          0     0

 [5 rows x 1054 columns],
 Index(['A.A8', 'C.C9', 'B.B12', 'C.C11', 'C.C5', 'C.C7', 'B.B2', 'B.B3',
        'D.D16', 'A.A7',
        ...
        'workers', 'working', 'world', 'writer', 'writers', 'www', 'year',
        'years', 'yesterday', 'york'],
       dtype='object', length=1054))

In [44]:
filtered_columns = [col for col in df.columns if col[0].isupper()]

# Create a new DataFrame with the filtered columns
X = df.drop(columns=filtered_columns)
y = df[filtered_columns]

X, y

(      0  00  000  01  02  03  04  05  06  07  ...  workers  working  world  \
 0     0   0    0   0   0   0   0   0   0   0  ...        0        0      0
 1     0   0    0   1   0   0   0   0   0   0  ...        0        0      0
 2     0   0    0   0   0   0   0   0   0   0  ...        0        0      0
 3     0   0    0   0   0   0   0   0   0   0  ...        0        0      0
 4     0   0    0   0   0   0   0   0   0   0  ...        0        0      0
 ...  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ...      ...      ...    ...
 1697  0   0    0   0   0   0   0   0   0   0  ...        0        0      0
 1698  0   0    0   0   1   0   1   0   0   0  ...        0        0      0
 1699  0   0    0   0   0   0   0   0   0   0  ...        0        0      0
 1700  0   0    0   0   1   0   1   0   0   1  ...        0        0      0
 1701  0   0    0   0   1   0   1   0   1   1  ...        0        0      0

       writer  writers  www  year  years  yesterday  york
 0          0        0    0     0      0          0     0
 1          0        0    0     0      0          0     0
 2          0        0    0     0      0          0     0
 3          0        0    0     0      0          0     0
 4          0        0    0     1      0          0     0
 ...      ...      ...  ...   ...    ...        ...   ...
 1697       0        0    0     1      1          0     0
 1698       0        0    1     1      1          1     0
 1699       0        0    0     1      0          0     0
 1700       0        0    1     1      1          1     0
 1701       0        0    1     1      1          1     0

 [1702 rows x 1001 columns],
       A.A8  C.C9  B.B12  C.C11  C.C5  C.C7  B.B2  B.B3  D.D16  A.A7  ...  \
 0        0     0      0      0     0     0     0     0      0     0  ...
 1        0     0      0      0     0     0     0     0      0     0  ...
 2        0     0      0      0     0     0     0     0      0     0  ...
 3        0     0      0      0     0     0     0     0      0     0  ...
 4        0     0      0      0     0     0     0     0      0     0  ...
 ...    ...   ...    ...    ...   ...   ...   ...   ...    ...   ...  ...
 1697     0     0      0      0     0     0     1     0      0     0  ...
 1698     0     0      0      0     0     0     1     0      0     0  ...
 1699     0     0      0      0     0     0     1     0      0     0  ...
 1700     0     1      0      0     0     0     1     0      0     0  ...
 1701     0     0      0      0     0     0     1     0      0     0  ...

       C.C3  D.D10  D.D18  B.B13  D.D17  B.B10  C.C1  D.D4  C.C13  D.D14
 0        0      0      0      1      0      0     1     0      0      0
 1        0      0      0      0      0      0     1     0      0      0
 2        0      0      0      0      0      0     0     0      0      0
 3        0      0      0      0      0      0     0     0      0      0
 4        0      0      0      0      0      0     0     0      0      0
 ...    ...    ...    ...    ...    ...    ...   ...   ...    ...    ...
 1697     0      1      0      1      0      0     0     0      0      0
 1698     0      1      0      0      0      0     0     0      0      0
 1699     0      1      0      0      0      0     1     0      0      0
 1700     0      0      0      0      0      0     0     0      0      0
 1701     0      0      0      1      0      0     0     0      0      0

 [1702 rows x 53 columns])

In [45]:
if save_files:
    X.to_csv("./data/10-ENRON_X.csv")
    y.to_csv("./data/10-ENRON_y.csv")

## 11. MediaMill

In [46]:
from scipy.io import arff
import pandas as pd
import os

mediamill_raw_file_name = './mediamill/mediamill.arff'
assert(os.path.isfile(mediamill_raw_file_name))

# Load ARFF file
data, meta = arff.loadarff(mediamill_raw_file_name,)

df = pd.DataFrame(data)

# Optionally, decode byte strings to regular strings if necessary
df = df.applymap(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)

df.head(), df.columns

(       Att1      Att2      Att3      Att4      Att5      Att6      Att7  \
 0  0.380877  0.494079  0.540009  0.422926  0.158318  0.326975  0.390861
 1  0.508613  0.505837  0.437155  0.490723  0.262201  0.459610  0.393838
 2  0.449571  0.460490  0.453469  0.410779  0.231759  0.402147  0.349590
 3  0.416800  0.548996  0.520850  0.465410  0.181603  0.357255  0.389347
 4  0.501986  0.480820  0.435543  0.432002  0.250599  0.408353  0.357816

        Att8      Att9     Att10  ...  Class92  Class93  Class94  Class95  \
 0  0.527121  0.254052  0.223731  ...        0        0        0        0
 1  0.524006  0.370391  0.329424  ...        0        0        0        0
 2  0.536456  0.318117  0.301615  ...        0        0        0        0
 3  0.530189  0.290942  0.244521  ...        0        0        0        0
 4  0.499186  0.353172  0.327622  ...        0        0        0        0

    Class96  Class97  Class98  Class99  Class100  Class101
 0        0        0        0        0         0         0
 1        0        0        0        0         0         0
 2        0        0        0        0         0         0
 3        0        0        0        0         0         0
 4        0        0        0        0         0         0

 [5 rows x 221 columns],
 Index(['Att1', 'Att2', 'Att3', 'Att4', 'Att5', 'Att6', 'Att7', 'Att8', 'Att9',
        'Att10',
        ...
        'Class92', 'Class93', 'Class94', 'Class95', 'Class96', 'Class97',
        'Class98', 'Class99', 'Class100', 'Class101'],
       dtype='object', length=221))

In [47]:
X = df[df.columns[df.columns.str.startswith('Att')]]  # Selecting columns with names starting with 'A'
y = df[df.columns[df.columns.str.startswith('Class')]]  # Selecting columns with names starting with 'L'

X, y

(           Att1      Att2      Att3      Att4      Att5      Att6      Att7  \
 0      0.380877  0.494079  0.540009  0.422926  0.158318  0.326975  0.390861
 1      0.508613  0.505837  0.437155  0.490723  0.262201  0.459610  0.393838
 2      0.449571  0.460490  0.453469  0.410779  0.231759  0.402147  0.349590
 3      0.416800  0.548996  0.520850  0.465410  0.181603  0.357255  0.389347
 4      0.501986  0.480820  0.435543  0.432002  0.250599  0.408353  0.357816
 ...         ...       ...       ...       ...       ...       ...       ...
 43902  0.426864  0.528629  0.532957  0.401551  0.187178  0.328457  0.363949
 43903  0.344094  0.537319  0.516101  0.430633  0.147998  0.310974  0.373041
 43904  0.329709  0.453422  0.523771  0.314048  0.133553  0.249196  0.296952
 43905  0.470031  0.489588  0.488227  0.356816  0.228900  0.370288  0.327771
 43906  0.350638  0.548779  0.554297  0.404750  0.134141  0.284098  0.361868

            Att8      Att9     Att10  ...    Att111    Att112    Att113  \
 0      0.527121  0.254052  0.223731  ...  0.593651  0.551529  0.574392
 1      0.524006  0.370391  0.329424  ...  0.616601  0.556555  0.553718
 2      0.536456  0.318117  0.301615  ...  0.627463  0.539564  0.638607
 3      0.530189  0.290942  0.244521  ...  0.604669  0.557365  0.571348
 4      0.499186  0.353172  0.327622  ...  0.607607  0.543372  0.566417
 ...         ...       ...       ...  ...       ...       ...       ...
 43902  0.487699  0.306376  0.266459  ...  0.610354  0.544168  0.553511
 43903  0.493417  0.249852  0.191468  ...  0.582064  0.527097  0.581796
 43904  0.440839  0.222037  0.196553  ...  0.574960  0.522756  0.594364
 43905  0.464365  0.347709  0.319948  ...  0.585344  0.494285  0.566579
 43906  0.465428  0.241016  0.199843  ...  0.561277  0.542575  0.601334

          Att114    Att115    Att116    Att117    Att118    Att119    Att120
 0      0.511032  0.463997  0.202034  0.492341  0.317983  0.547807  0.393778
 1      0.552479  0.511739  0.218366  0.547476  0.348174  0.584991  0.422205
 2      0.496368  0.480986  0.199592  0.535078  0.323834  0.571487  0.397564
 3      0.565105  0.497706  0.252656  0.546756  0.346506  0.589601  0.430145
 4      0.526322  0.484486  0.186909  0.564721  0.325957  0.578370  0.398771
 ...         ...       ...       ...       ...       ...       ...       ...
 43902  0.580699  0.559847  0.348502  0.587482  0.488400  0.624835  0.527380
 43903  0.555630  0.515736  0.271329  0.520354  0.410659  0.564902  0.453231
 43904  0.567564  0.524449  0.232201  0.554800  0.408484  0.570778  0.453345
 43905  0.555662  0.544435  0.244654  0.575187  0.422255  0.585876  0.464987
 43906  0.563842  0.556132  0.289604  0.564673  0.448091  0.589267  0.497985

 [43907 rows x 120 columns],
       Class1 Class2 Class3 Class4 Class5 Class6 Class7 Class8 Class9 Class10  \
 0          0      0      0      0      0      0      0      0      0       0
 1          0      0      0      0      0      0      0      0      0       0
 2          0      0      0      0      0      0      0      0      0       0
 3          0      0      0      0      0      0      0      0      0       0
 4          0      0      0      0      0      0      0      0      0       0
 ...      ...    ...    ...    ...    ...    ...    ...    ...    ...     ...
 43902      0      0      0      0      0      0      0      0      0       0
 43903      0      0      0      0      0      0      0      0      0       0
 43904      0      0      0      0      0      0      0      0      0       0
 43905      0      0      0      0      0      0      0      0      0       0
 43906      0      0      0      0      0      0      0      0      0       0

        ... Class92 Class93 Class94 Class95 Class96 Class97 Class98 Class99  \
 0      ...       0       0       0       0       0       0       0       0
 1      ...       0       0       0       0       0       0       0       0
 2      ...       0       0       0       0       0       0       0       0
 3      ...       0       0       0       0       0       0       0       0
 4      ...       0       0       0       0       0       0       0       0
 ...    ...     ...     ...     ...     ...     ...     ...     ...     ...
 43902  ...       0       0       0       0       1       0       0       0
 43903  ...       0       0       0       0       1       0       0       0
 43904  ...       0       0       0       0       1       0       0       0
 43905  ...       0       0       0       0       0       0       0       0
 43906  ...       0       0       0       0       1       0       0       0

       Class100 Class101
 0            0        0
 1            0        0
 2            0        0
 3            0        0
 4            0        0
 ...        ...      ...
 43902        0        0
 43903        0        0
 43904        0        0
 43905        0        0
 43906        0        0

 [43907 rows x 101 columns])

In [48]:
if save_files:
    X.to_csv("./data/11-MEDIAMILL_X.csv")
    y.to_csv("./data/11-MEDIAMILL_y.csv")